
.navbar {
  background-color: #f0bb1d;

  .navbar__containter {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }

  .navbar__logo {
    width:80px;
    font-size: 20px;
    font-weight: 700;
    color:aliceblue;
  }

  .navbar__title {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .navbar__nav {
    display: flex;
    gap:10px;
    align-items: center;
  }

  .navbar__link {
    color: rgb(71, 71, 71);
    font-size: 15px;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }

  .navbar__title-link{
    text-decoration: none;
    color: rgb(36, 36, 36);
  }
}


