
.navbar {
  background-color: #f0bb1d;

  .navbar__containter {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;

    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__logo {
    width:80px;
    font-size: 40px;
    font-weight: 700;
    color:aliceblue;
  }

  .navbar__title {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    font-weight: 700;
  }

  .navbar__nav {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .navbar__link {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }

  .navbar__title-link{
    text-decoration: none;
    color: black;
  }
}


