.cart {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.cart__icon{
    width: 40px;
    height: auto;
    padding-right: 3px;
    color:black;
}

.cart__cant{
    padding-top: 5px;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out

}

.cart__cant__active{
    visibility: visible;
    opacity: 1;
}